.bannerPrincipal {
    background-image: url('../../public/banner/banner.png');
    background-position: center;
    background-size: cover;

    aspect-ratio: 16/9;

    position: relative;
}

.conteoFaltante {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

    font-family: var(--fuente-secundaria);

    text-align: center;
    padding: 5px;
    text-shadow: none;
    color: var(--color-secundario);
    text-transform: uppercase;
    font-weight: 700;

    font-size: 1.5rem;
}

.navegacionEnElBanner {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;

    padding: 2rem;
}

.LinkEnElBanner {
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);

    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: none;
    font-weight: 700;
    padding: .5rem;
    font-size: 1.5rem;

    transition: box-shadow .3s;
}

.LinkEnElBanner:hover {
    box-shadow: 0px 0px 1rem rgb(255, 255, 255)
}

article {
    padding: 1rem;
    margin: 3rem;

    width: auto;
    height: auto;
    max-width: 768px;
    background-color: rgba(0, 0, 0, 0.877);
    border: 1px solid rgb(255, 255, 255);

    border-radius: 1rem;

    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

p {
    font-size: 1.2rem;
}

ol {
    padding-left: 1.5rem;
}