.bannerPrincipal {
    background-image: url('../../public/banner/banner.png');
    background-position: center;
    background-size: cover;

    aspect-ratio: 16/9;

    position: relative;
}

.conteoFaltante {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

    font-family: var(--fuente-secundaria);

    text-align: center;
    padding: 5px;
    text-shadow: none;
    color: var(--color-secundario);
    text-transform: uppercase;
    font-weight: 700;

    font-size: .75rem;
}

.navegacionEnElBannerPrincipal {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    right: 0;

    list-style: none;
    gap: .75rem;
}

.LinkEnElBannerPrincipal {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-family: var(--fuente-secundaria);

    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: none;
    font-weight: 700;
    padding: .25rem;
    font-size: .75rem;

    transition: box-shadow .3s;
    background: linear-gradient(144deg, var(--color-secundario), var(--color-principal));
}

.LinkEnElBannerPrincipal:hover {
    box-shadow: 0px 0px 1rem rgb(255, 255, 255)
}

.articuloPrincipal {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .75rem;
}

.articuloPrincipalTitulo {
    width: 100%;
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    font-style: italic;
    text-decoration: underline;
    font-size: 1.25rem;
}

.articuloPrincipalParrafo {
    width: 100%;
    font-size: 1rem;
    text-align: start;
    padding: 0px .25rem;
}

.articuloPrincipalListaPasos {
    margin-bottom: 4rem;
}

.articuloPrincipalListaPasosItem {
    padding-left: 1rem;
}