* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgb(0, 255, 255);
    --color-secundario: rgb(80, 0, 255);
    --fuente-base: 'Times New Roman', Times, serif;
    --fuente-secundaria: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--color-principal), var(--color-secundario));

    color: rgb(255, 255, 255);
    font-family: var(--fuente-base);
    animation: color-change-2x 5s linear infinite alternate both
}

@keyframes color-change-2x {
    0% {
        background: var(--color-principal)
    }

    100% {
        background: var(--color-secundario)
    }
}

header {
    width: 100%;
    height: auto;

    background-color: rgb(13, 16, 41);
    padding: 5px;

    position: sticky;
    top: 0;
    z-index: 9999;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
    text-align: start;
    font-size: 1rem;

    display: block;
    text-align: center;
}

.navbarPrincipal {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    gap: 1.5rem;

    list-style: none;
}

.logotipoOficialJuegosAnio3023 {
    width: 80px;
    height: auto;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));

    transition: filter .3s;
}

.logotipoOficialJuegosAnio3023:hover {
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

.navegacionNavbarPrincipal {
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
    font-weight: 700;

    text-decoration: none;

    transition: text-decoration .3s;
    transition: text-shadow .3s;
}

.navegacionNavbarPrincipal:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgb(255, 255, 255)
}


/* ----------------MQ--------------------- */
@media (max-width: 768px) {

    header {
        position: relative;
    }

    .itemLogotipoOficialJuegosAnio3023 {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbarPrincipal {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        margin-bottom: 1rem;
    }
}

footer {
    width: 100%;
    height: auto;

    background-color: rgb(13, 16, 41);
    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

small {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

footer>a {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
}

footer>q {
    display: block;
    text-align: center;
    color: #ffffff81;
}


/* ----------------------------------------------
 * Generated by Animista on 2025-11-23 18:25:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */