* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgb(0, 255, 255);
    --color-secundario: rgb(80, 0, 255);
    --fuente-base: 'Times New Roman', Times, serif;
    --fuente-secundaria: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-gutter: stable;

    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, var(--color-principal), var(--color-secundario));

    color: rgb(255, 255, 255);
    font-family: var(--fuente-base);
    animation: color-change-2x 5s linear infinite alternate both;

    display: flex;
    flex-direction: column;
}

@keyframes color-change-2x {
    0% {
        background: var(--color-principal)
    }

    100% {
        background: var(--color-secundario)
    }
}

.encabezadoPrincipal {
    width: 100%;
    height: 82.44px;
}

.tituloPrincipal {
    border: 0;
    clip-path: inset(50%);
    /* 2 */
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
    white-space: nowrap;
}

.navegacionPrincipal {
    width: 100%;
    height: 82.44px;

    background-color: rgb(13, 16, 41);
    position: fixed;
    top: 0;

    z-index: 9999;
}


.navegacionPrincipalListado {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    list-style: none;
    padding: 1rem;
}

.logotipoOficialJuegosAnio3023 {
    width: 40px;
    height: auto;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));

    transition: filter .3s;
}

.navegacionPrincipalListadoLogotipo3023:hover {
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

.navegacionPrincipalListadoLink {
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-family: var(--fuente-secundaria);
    text-transform: uppercase;
    font-weight: 700;

    text-decoration: none;

    transition: text-decoration .3s;
    transition: text-shadow .3s;

    font-size: .75rem;
}

.navegacionPrincipalListadoLink:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 5px rgb(255, 255, 255)
}

.piePaginaPrincipal {
    width: 100%;
    background-color: rgb(13, 16, 41);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;

    margin-top: auto;
}

.autorCss {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin: .5rem 0px;
    font-style: italic;
}

.linkGithub {
    color: rgba(255, 255, 255, 0.674);
    margin-bottom: .25rem;
}

.infoComplementaria {
    margin-bottom: .5rem;
    padding: 0px .25rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.379);
}


/* ----------------- MQ ----------------- */

@media (min-width: 0px) and (max-width: 425px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 425.1px) and (max-width: 768px) {
    :root {
        font-size: 24px;
    }
}

@media (min-width: 768.1px) and (max-width: 1024px) {
    :root {
        font-size: 28px;
    }
}

@media (min-width: 1024.1px) {
    :root {
        font-size: 20px;
    }
}