h2 {
    width: 100%;
    margin: 2rem;
    font-size: 2rem;

    font-style: italic;
    text-align: start;
}

article {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem;
}

.planillaJuegos {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 1rem;
}

.cartaJuego {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    cursor: pointer;
    transition: all .3s;
    position: relative;
}

.cartaJuego:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1rem rgb(255, 255, 255);
    overflow: hidden;
}

.portadaJuego {
    width: 150px;
    height: auto;
}

section {
    display: none;
    position: absolute;
    top: 0;

    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: start;
    text-align: start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    font-weight: 700;
}

.cartaJuego:hover>section {
    display: flex;
}

.linkCatalogoNominaciones {
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);

    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: none;
    font-weight: 700;
    padding: .5rem;
    font-size: 1.5rem;

    transition: box-shadow .3s;
    margin: 2rem;
}

.linkCatalogoNominaciones:hover {
    box-shadow: 0px 0px 1rem rgb(255, 255, 255)
}