.contenidoPrincipal {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.catalogoTitulo {
    width: 100%;
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    font-style: italic;
    text-decoration: underline;
    font-size: 1.25rem;
}

.planillaJuegos {
    width: 100%;

    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(1, 250px);
    gap: 1rem;

    margin-bottom: 4rem;
}

.cartaJuego {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    cursor: pointer;
    transition: all .3s;
    position: relative;
}

.moreIconsvg {
    width: 25px;
    height: 25px;

    position: absolute;
    top: 0;
    right: 0;
    margin: .25rem;
}

.cartaJuego:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1rem rgb(255, 255, 255);
    overflow: hidden;
}

.portadaJuego {
    width: 100px;
    max-width: 300px;
    border-radius: 5px;
    height: auto;
}

.informacionComplementaria {
    display: none;
    position: absolute;
    top: 0;
    font-size: .5rem;

    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: start;
    text-align: start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    font-weight: 700;
}

.cartaJuego:hover>section {
    display: flex;
}


/* ----------------- MQ ----------------- */

@media (min-width: 768.1px) and (max-width: 1024px) {
    .planillaJuegos {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (min-width: 1024.1px) {
    .planillaJuegos {
        grid-template-columns: repeat(3, 250px);
    }
}