.contenidoPrincipal {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.articuloPrincipal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloArticulo {
    width: 100%;
    text-align: start;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    font-style: italic;
    font-size: 1.25rem;
}

.formularioVotacion {
    width: 100%;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem 0px;
    margin: 2rem 0px 4rem 0px;
}

.nombreLabel {
    margin-top: 1rem;

    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;

    width: 100%;
    text-align: start;
    padding-left: .75rem;
}

label:hover {
    text-decoration: underline;
}

.inputVotacion {
    width: 90%;
    padding: 2px 5px;
    border: 1px solid rgb(5, 11, 126);
    background-color: rgb(3, 8, 76);
    color: rgb(255, 255, 255);
    font-family: var(--fuente-principal);
    font-size: 1.2rem;
    border-radius: 5px;
}

input::placeholder,
select::placeholder {
    color: rgb(183, 233, 247);
}

.terminarVotacionBtn {
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);

    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: none;
    font-weight: 700;
    padding: .25rem;
    font-size: 1rem;

    transition: box-shadow .3s;
    margin: 1.5rem 0px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 1rem rgb(255, 255, 255)
}