h2 {
    width: 100%;
    margin: 2rem;
    font-size: 2rem;

    font-style: italic;
    text-align: start;
}

article {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem;
}

form {
    width: 90%;
    max-width: 768px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
}

label {
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2rem;
}

label:hover {
    text-decoration: underline;
}

input,
select {
    width: 70%;
    padding: 5px;
    border: 1px solid rgb(18, 18, 18);
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    font-family: var(--fuente-principal);
    font-size: 1.2rem;
}

input::placeholder,
select::placeholder {
    color: rgb(255, 255, 255);
}

button {
    color: var(--color-secundario);
    font-family: var(--fuente-secundaria);

    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: none;
    font-weight: 700;
    padding: .5rem;
    font-size: 1.5rem;

    transition: box-shadow .3s;
    margin: 2rem;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 1rem rgb(255, 255, 255)
}